a:  {
	color: cyan;
	text-decoration: none;
}
a: hover {
	background: white;
}
.FooterText {
	color: gray;
	font-size: 15px;
}

body {
	background: rgb(15, 15, 15);
	color: white;
}

#Heder {
	text-align: center;
	width: 100%;
	height: 275px;
background-image: url(fgfg.png) ; 
background-repeat: no-repeat;
background-size: cover ;
}

#Navigation {
	background: rgb(30, 30, 30);
	width: 70%;
	height: auto;
	margin: auto;
	text-align: center;
	padding: 0, 15px;
}

#Content {
	background: rgb(30, 30, 30);
	width: 70%;
	height: auto;
	margin: auto;
}

#Footer {
	background: rgb(30, 30, 30);
	width: 70%;
	height: auto;
	margin: auto;
	text-align: center;
}

